* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.text {
    color: blueviolet;
}

.highlight{
    background-color: yellow;
    color: green;
}

.link {
    background-color: blue;
    color: white;
}